{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a Fullstack Developer (Backend Heavy) who works with Django and Flask. I am also a creative freelance graphics designer. I am also interested in music, with a love for musical instruments and yeah, I am a blue. Chelsea is the way.</p>
        <p>This is a blog where I write my random thoughts for the benefit of all, and trust me, they're gonna be edifying and inspiring.</p>
        <p>When I am not writing codes, and I not putting down my creative genius in designs, I am listening to music or playing football.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}